* {
  padding: 0px;
  margin: 0px;
  list-style: none;
  text-decoration: none;
}

.main {
  background: rgb(237, 237, 237);
  min-height: 100vh;

}

.main-background {
  display: grid;
  justify-items: center;
}

.nav-panel {
  background: rgb(63, 178, 254);
  display: flex;
  align-items: end;
  width: 100%;
  justify-content: center;
  height: 7vh;
}

.nav-button {
  width: 15%;
  height: 100%;

}

.nav-button:hover {
  background: rgb(120, 199, 251);
}

.container {
  padding: 10px;
  display: grid;
  align-items: center;
  justify-items: center;
  gap: 10px;
}

.content {
  padding: 10px;
  display: flex;
  gap: 10px;
  border: 1px solid black;
  width: 700px;
  height: 500px;
}

.image {
  width: 70%;
  height: 100%;
}

.info {
  width: 30%;
  height: 100%;
  position: relative;
}

.info button {
  position: absolute;
  top: 94%;
  width: 100%;
  background: rgb(63, 178, 254);
  color: white;
  padding: 5px;
  cursor: pointer;
}